<h1>New Tag</h1>
<%= form_with model: @tag, url: tags_path do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.submit "Create Tag" %>
<% end %>
<p><%= link_to "Back to All Tags", tags_path %></p>
